## Get latest from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

# Visual Studio cache/options directory
.vs/
.idea/

# MSTest test Results
[Cc]overage[Rr]esult*
[Cc]overage[Rr]eport*
[Tt]est[Rr]esult*

# Benchmark Results
BenchmarkDotNet.Artifacts/

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.[Dd]ot[Ss]ettings.user
