# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Build & Test

permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches:
      - main
      - 'feature/**'
    paths-ignore:
      - 'examples/**'
      - 'benchmarks/**'
      - '**/*.ps1'
      - .editorconfig
      - .gitattributes
      - .gitignore
      - coverlet.runsettings
      - LICENSE
      - README
  pull_request:
    branches:
      - main
      - 'feature/**'
    paths-ignore:
      - 'examples/**'
      - 'benchmarks/**'
      - '**/*.ps1'
      - .editorconfig
      - .gitattributes
      - .gitignore
      - coverlet.runsettings
      - LICENSE
      - README

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1

jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Git
        uses: actions/checkout@v6
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.0.x
            9.0.x
            10.0.x
          dotnet-quality: ga

      - name: Tests
        uses: D4nyi/DotNet-Actions/runTests@main     

  analyze:
    name: Analyze (${{ matrix.language }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - language: actions
            build-mode: none
          - language: csharp
            build-mode: manual
    permissions:
      security-events: write
      packages: read
      actions: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup .NET
        if: matrix.language == 'csharp'
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.0.x
            9.0.x
            10.0.x
          dotnet-quality: ga

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v4
        with:
          languages: ${{ matrix.language }}
          build-mode: ${{ matrix.build-mode }}
          dependency-caching: true

      - name: Manual Build
        if: matrix.build-mode == 'manual'
        run: dotnet build ./CoreUtilityKit.slnx --nologo -c Debug

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v4
        with:
          category: "/language:${{ matrix.language }}"
