# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Publish

permissions:
  contents: write
  pull-requests: write

on: [workflow_dispatch]

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1

jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Git
        uses: actions/checkout@v6
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.0.x
            9.0.x
            10.0.x
          dotnet-quality: ga

      - name: Tests
        uses: D4nyi/DotNet-Actions/runTests@main

  package:
    name: Package project
    runs-on: ubuntu-latest
    needs: [tests]
    outputs:
      artifact-id: ${{ steps.package.outputs.artifact-id }}
      artifact-digest: ${{ steps.package.outputs.artifact-digest }}
    steps:
      - name: Checkout Git
        uses: actions/checkout@v6
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.0.x
            9.0.x
            10.0.x
          dotnet-quality: ga

      - name: Package
        id: package
        uses: D4nyi/DotNet-Actions/package@main
        with:
          artifact-name: nuget-CoreUtilityKit

  analyze:
    name: Analyze (${{ matrix.language }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - language: actions
            build-mode: none
          - language: csharp
            build-mode: manual
    permissions:
      security-events: write
      packages: read
      actions: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        if: matrix.language == 'csharp'
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
          dotnet-quality: ga

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v4
        with:
          languages: ${{ matrix.language }}
          build-mode: ${{ matrix.build-mode }}
          dependency-caching: true

      - name: Manual Build
        if: matrix.build-mode == 'manual'
        run: dotnet build ./CoreUtilityKit.slnx --nologo -c Release

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v4
        with:
          category: "/language:${{ matrix.language }}"

  read-tags:
    name: Get Tags
    runs-on: ubuntu-latest
    needs: [analyze]
    outputs:
      tags: ${{ steps.read-tags.outputs.tags }}
    steps:
      - name: Read Tags
        id: read-tags
        uses: D4nyi/DotNet-Actions/readTags@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

  read-versions:
    name: Read Version
    runs-on: ubuntu-latest
    needs: [analyze]
    outputs:
      versions: ${{ steps.read-versions.outputs.versions }}
    steps:
      - name: Read Versions
        id: read-versions
        uses: D4nyi/DotNet-Actions/readProjectVersions@main
        with:
          source_dir: ./src

  publish:
    name: Publish
    needs: [read-tags, read-versions, package]
    runs-on: ubuntu-latest
    steps:
      - name: Setup .NET
        id: dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x
          dotnet-quality: ga

      - name: Read Versions
        uses: D4nyi/DotNet-Actions/publish@main
        with:
          nuget_api_key: ${{ secrets.NUGET_API_KEY }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tags: ${{ needs.read-tags.outputs.tags }}
          versions: ${{ needs.read-versions.outputs.versions }}
          artifact_id: ${{ needs.package.outputs.artifact-id }}
          artifact_digest: ${{ needs.package.outputs.artifact-digest }}
